<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Components</title>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
	
	
	<!-- This is link to my style sheet -->
	<link rel="stylesheet" href="mylayout.css">

	
</head>

<body>
	
	<div class="outer">
	<div class="page">
    	
		<!--HERO SECTION -->
	
		<div class="hero_content">
        <p class="hero_text_headline">
        JOIN YOUR PELOTON FRIENDS ANYWHERE IN THE WORLD!</p>
		<img src="img/map.jpg" alt="worldmap"/>
			
     </div>
	
	<!--TiLES -->
	
	<div class="side_bar">
                    <img src="img/cycle.png"/>
                    <span class="section">CYCLE IN SPAIN</span>
                   <p>Post-Class Barcelona: Stroll Las Ramblas. Dine in Catalon style. Experience the Gaudi design. Mix it up in Mar Bella Beach.</p>

                </div>
	
	<div class="side_bar">
                    <img src="img/run.png"/>
                    <span class="section">RUN IN RIO DE JANEIRO</span>
                   <p>Post-Class RIO:  The Sweets of Sugarloaf Mtn. Wander the Tujica Forest. Mosey through Museu Nacional de Belas Artes. Savor the Feijoada. </p>

                </div>
		
	<div class="side_bar">
                    <img src="img/yoga.png"/>
                    <span class="section">YOGO KYOTO</span>
                   <p>Post-Class YOGA:  Exhale at the Fushimi Inari-taisha Shrine. Respect the Samurais.
		Learn the Ninja.  Master sushi.</p>

                </div>
		<div class="side_bar">
                    <img src="img/strength.png"/>
                    <span class="section">POWER UP AUSTRIA</span>
                   <p>Post-Class Strength: Gormet Goulash. Spelunk the Eisriesenwelt Ice Caves. Take a Moment for Mozart.</p>

                </div>
   
		
		</div>
		
	
	</div>
	
	
	
	
	 
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>
