
/* CSS Document */



body{
  font-family:'Josefin Sans', sans-serif;
  color:black;
}

.outer{
   
   text-align: center;
}
	
.page{
	max-width: 1200px;
 
    display: inline-block;}
	



/* HERO IMAGE */


	
.hero_content{
	width: 100%;
	height: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	border:4px solid;
    border-color:#03afc2;
	font-size:28px;
	text-align: center;
	overflow: auto;
	
}
.hero_text_headline{
	font-weight: bold;
	font-size: 30px;
}

/* TILES */

.hero_content img{
	width:100%;
	height: 40%;
}
	
.side_bar{
  height:50%;
  width:50%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  border:4px solid;
  border-color:#03afc2;
  text-align: center;
  box-sizing: border-box;

}


.side_bar.section{
	height:50%;
	height:50%;
    color: black;
	box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
	
}
	
.side_bar img{
   text-align: center;
	width: 100%;
}
